:root {
  --bg-color: rgb(1, 4, 90);
  --element-bg-color: rgb(0, 5, 162);
  --button-hovered-color: rgb(0, 5, 150);
  --button-pressed-color: rgb(0, 5, 140);
}
* {
  font-family: Consolas;
}
body {
  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background: var(--bg-color);
}

@keyframes not-know-flash {
  0% {
    background: var(--element-bg-color);
  }
  45% {
    background: rgb(123, 0, 0);
  }
  100% {
    background: var(--element-bg-color);
  }
}

@keyframes know-flash {
  0% {
    background: var(--element-bg-color);
  }
  50% {
    background: rgb(0, 123, 0);
  }
  100% {
    background: var(--element-bg-color);
  }
}

.spacer {
  width: 5%;
}

#slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width:100%
}

#slider {
  width: 80%; /* This will make the slider take up the full width of its container */
}

#card-div {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 25%;
  word-wrap: break-word;
  hyphens: auto;
  perspective: 1000px;
}

#actions-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 600px;
}

.danger-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.danger-div button {
  width: 22%;
}

button {
  background: var(--element-bg-color);
  font-size: 50px;
  
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  transition: transform 0.1s;
}
button:hover {
  background: var(--button-hovered-color);
}
button:active {
  transform: scale(0.98);
  background: var(--button-pressed-color);
}
.menu-button {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  font-size: 30px;
  word-wrap: break-word;
  hyphens: auto;
}

.action-button {
  margin-top: 50px;
  width: 60%;
}

.action-button:active {
  transform: scale(0.95);
}
p {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  padding: 10px 10px;
  border-width: 2px;
  background: var(--element-bg-color);
}

#card-button {
  width: 100%;
  height: 100%;
  font-size: 30px;
  position: relative;
  transition: ease-in-out 0.35s;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

@media (orientation: landscape) {
  #card-button {
    width: 30%;
    min-width: 300px;
  }
  .action-button {
    width: 50%;
  }
}

#card-button.flipped {
  transform: rotateX(180deg);
}

#card-button .front,
#card-button .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-button p {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card-button .back {
  transform: rotateX(180deg);
  color: var(--element-bg-color);
}

#card-button.flipped .back {
  color: white;
}
